body { margin: 0; padding: 0; background: #e5e5e5; }
form { box-shadow: 0px 1px 3px rgba(0,0,0,.3); color: rgba(0,0,0,.4); font-family: "nixieOne", "Helvetica Neue", Helvetica, Arial, sans-serif; }
form.loginForm { background: #fff; margin: 0 auto; width: 470px; height: 598px; padding: 100px 40px; }
form input { width: 100%; height: 50px; }

input[type=text] { height: 38px; }
input[type=password]{ height: 38px; }
input#id_username { font-size: 16px; color: #333; }
input#id_password { font-size: 16px; color: #333; }

div#inner-editor { height: 70px; }
p.loginText { color: rgba(0,0,0,.4); font-size: 16px; width: 205px;  margin: 10px auto; }

#loginButton { width: 100%; }
#loginTextMain { position: relative; top: 180px; }

div.green-panel { background: #5cb85c; margin-bottom: 30px; border-bottom: 2px solid #ccc; }
div.white-panel { background: #fff; margin-bottom: 30px; box-shadow: 0px 1px 3px rgba(0,0,0,.3); }
div.black-panel { background: #333; margin-bottom: 30px; -moz-box-shadow: }
div.lightblue-panel { background: rgba(0,159,170,1); margin-bottom: 30px;}
div.burnt-panel { background: rgba(255,48,13,1); margin-bottom: 30px; }
div.pearl-panel { background: rgba(255,247,240,1); margin-bottom: 30px; }
div.coral-panel { background: rgba(241,89,77,1); margin-bottom: 30px; }
div.navy-panel { background: rgba(33,37,48,1); margin-bottom: 30px; }
div.teal-panel { background: rgba(44,193,123,1); margin-bottom: 30px; }
div.neongreen-panel { background: rgba(0,255,0,1); margin-bottom: 30px; }
div.turq-panel { background: #006666; margin-bottom: 30px; }
div.ivory-panel { background: #FFFFE6; margin-bottom: 30px; }
div.slate-panel { background: #333333; margin-bottom: 30px; }






.stackfifty { height: 50px; }
.stackone { height: 100px; }
.stacktwo { height: 200px; }
.stackthree { height: 300px; }
.stackfour { height: 400px; }
.stackfive { height: 500px; }
.stacksidebar { height: 900px; }
.cushion { padding: 25px; }
.cushionfifty { padding: 50px; }
.navcushion { padding: 0 20px; }
.space { margin: 25px; }

.inset { -moz-box-shadow: inset 0 0 10px #333; -webkit-box-shadow: inset 0 0 10px #333; box-shadow: inset 0 0 10px #333;}
.insetwhite { -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.8); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.8); box-shadow: inset 0 0 10px rgba(0,0,0,.8); background: #fff; }
.insetblack { -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.8); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.8); box-shadow: inset 0 0 10px rgba(0,0,0,.8); background: #333; }
.boxie { box-shadow: 0px 1px 3px rgba(0,0,0,.7); }

.view-header { text-align: center; margin: 10px; font-size: 30px; color: #fefefe; font-family: "nixieOne", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.loginForm { color: #525252; font-size: 23px; margin: 10px 40px 15px; font-family: 'Helvetica Neue'; }
.loginForm input[type="text"].hasError { background: #fefefe; border-color: #cb2027; box-shadow: rgba(255,0,0,0.35); position: relative; }
.firstName, .lastName { float: left; width: 190px; }

.devContainer { background: #3c3c3c; }

.jumbotron { color: #555555; }
.jumbotron h1 { font-family: "Montserrat", Impact, sans-serif;}

.companyProfile, .developerProfile { color: white; }
.companyProfile a { color: white; }
.companyProfile h1, h2 { text-align: center; font-family: 'helvetica neue', Arial; }
.companyAddress { text-align: center; }
.companyDescription { width: 80%; margin: 10px auto; background: lightcoral; }

.developerProfile h1, h2 { text-align: center; 'helvetica neue', Arial; color: white; }
.developerProfile a { color: white; }
.developerAddress { text-align: center; }
.developerDescription { width: 80%; margin: 10px auto; background: lightcoral; }
.developerProfile div { color: white; }

#addDevProject a { color: white; }
#addCompProject a { color: white; }