@import url(http://fonts.googleapis.com/css?family=Nixie+One|Share+Tech|Ubuntu+Mono|Lato|Poiret+One|Rum+Raisin|Paytone+One|Wendy+One|Coda+Caption:800|Source+Code+Pro|Open+Sans|Raleway+Dots|Comfortaa);
body { margin: 0; padding: 0;  font-family: 'Raleway Dots'; }
.row { margin-top: 0;}
#jumbo { background: rgba(0,0,0,1); }
#jumbo:after {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 8px;
        border-style: solid solid solid none;
        border-color: black transparent black;
        top: 12px;
        left: -6px;
}

#jumbo1 { opacity: .7; background: rgba(0,0,0,.7); color: white;}
.jumbotron:after {  }
#jumbo2 { position: relative; bottom: 30px; }
.jumbo-logo { padding-top: 100px;  }
.jumbotron { color: #3c3c3c; }
.backgroundoverlay {
    background: rgba(88, 153, 208, 1);
    opacity: .6;
    height: 3000px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
}
div.container-fluid { height: 60px; }

.scrollable-content { padding-top: 55px;}


/*button:visited { opacity: 1; text-decoration: none; color: white; }*/
a:visited { opacity: 1; text-decoration: none; }
ul {list-style-type: none;}
button a { color: white; opacity: 1;}


form { border: 1px dashed #dd1144; box-shadow: 0px 1px 3px rgba(0,0,0,.3); color: rgba(0,0,0,.4); font-family: "nixieOne", "Helvetica Neue", Helvetica; border-radius: 12px;  }
form.loginForm { background: #fff; margin: 0 auto; margin-top: 120px; width: 300px; height: auto;  padding: 20px 40px; }
form input { width: 100%; height: 30px; border: 2px solid rgba(88, 153, 208, .3); border-radius: 4px; }

input[type=text] { height: 38px; }
input[type=password]{ height: 38px; }
input#id_username { font-size: 16px; color: #333; }
input#id_password { font-size: 16px; color: #333; }

div#inner-editor { height: 70px; }
p.loginText { color: rgba(255,255,255,.6); font-size: 16px; width: 205px;  margin: 10px auto; }

/*#loginButton { width: 100%; }*/
/*#loginTextMain { position: relative; top: 180px; }*/

div.green-panel { background: #5cb85c; margin-bottom: 30px; border-bottom: 2px solid #ccc; }
div.white-panel { background: #fff; margin-bottom: 30px; box-shadow: 0px 1px 3px rgba(0,0,0,.3); }
div.black-panel { background: #333; margin-bottom: 30px; }
div.lightblue-panel { background: rgba(0,159,170,1); margin-bottom: 30px;}
div.burnt-panel { background: rgba(255,48,13,1); margin-bottom: 30px; }
div.pearl-panel { background: rgba(255,247,240,1); margin-bottom: 30px; }
div.coral-panel { background: rgba(241,89,77,1); margin-bottom: 30px; }
div.teal-panel { background: rgba(44,193,123,1); margin-bottom: 30px; }
div.bootstrap-green-panel { background: #5CB85C; margin-bottom: 30px; opacity: .9}
div.neongreen-panel { background: rgba(0,255,0,1); margin-bottom: 30px; }
div.ivory-panel { background: #FFFFE6; margin-bottom: 30px; }
div.slate-panel { background: #333333; margin-bottom: 30px; }
.navblue { background-color: rgba(88, 153, 208, 1); }


/* NAVBAR CSS */
.navbar-toggle { border: 2px solid white; }
.navbar-toggle:hover { background: #5CB85C; opacity: 1; }
.navbar-collapse { }

a.navbar-brand { color: white; font-family: 'Raleway Dots', cursive; position: relative; }
.icon-bar { background: white; }


/* NAVBAR CSS */

/* COMPANIES STYLES */
h1.companyName {
    font-family: 'Raleway Dots';
    width: 100%;
    padding: 10px;
    background: rgba(88, 153, 208, .9);
    color: white;
    position: relative;
    top: 69px;
    /*box-shadow: 0px 3px 4px #333;*/
    font-size: 30px;
    margin: 5px auto;
}
/* COMPANIES STYLES */


/* DEVELOPER STYLES */
h1.developerName {
    font-family: 'Raleway Dots';
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,.7);
    color: white;
    position: relative;
    top: 69px;
    /*box-shadow: 0px 3px 4px #333;*/
    font-size: 30px;
    margin: 5px auto;
}
/* DEVELOPER STYLES */


/* SHARED STYLES */
.address { background: rgba(0,0,0,.5); font-size: 16px; width: 100%; color: rgba(255,255,255,.7); padding: 10px 0;  font-family: 'Ubuntu Mono',; }
.description { margin: 5px auto; max-width: 400px; padding-bottom: 15px; }
.portfolioWrap { width: 100%; margin: 0 auto; }
.portfoliotoggle { font-size: 50px; width: 100%; }
.portfolioTitle { font-size: 30px; background: rgba(0,0,0,1); width: 100%; font-family: 'Raleway Dots'; text-align: center; margin: 0 auto; padding: 0;}
p.description { color: white; }
.dropdownTitle { padding: 12px 0 5px 0; font-size: 24px; font-family: 'Nixie One', cursive;}
.item-active {
    margin: 0;
    padding: 0;
}

.btn a { font-size: 32px; font-family: 'Raleway Dots', cursive; }
.btn a:hover { text-decoration: none; opacity: 1; }

#carousel-example {
    position: relative;
    bottom: 80px;
    margin-bottom: -140px;
}
.carousel-example-content {
    margin: 0;
    padding: 0;
}
.carousel {
    margin: 0;
    padding: 0;
}
.projectCard {
    background: rgba(255,255,255,1);
    padding: 20px 15px;
    color: #3c3c3c;
    position: relative;
    top: 90px;
}

h3.projectName { font-size: 20px; padding: 20px 4px; font-family: 'Nixie One', cursive; color: #3c3c3c; }
h3.projectDate { color: #3c3c3c; }
p.description { padding: 30px 15px; font-family: 20px; color: #3c3c3c; }

.imageoverlay { background: rgba(0,0,0,.7); padding: 0; color: white; }
.imageoverlay a { color: white; font-size: 30px; font-family: 'Raleway Dots', cursive; }
.imageoverlay a:hover { text-decoration: none; color: rgba(0,255,0,1); }
.img-container img {
    max-width: 100% !important;
    max-height: 100% !important;
    display: block !important;
}

img {
    width: 100%;
    overflow: hidden;
}

.col-xs-12 { margin: 0; padding: 0; }
.col-sm-12 { margin: 0; padding: 0; }
.col-md-3 { margin: 0; padding: 0; }
.col-lg-4 { margin: 0; padding: 0; }

/*font-family: 'Nixie One', cursive;*/
/*font-family: 'Share Tech', sans-serif;*/
/*font-family: 'Ubuntu Mono', ;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/
/*font-family: 'Rum Raisin', sans-serif;*/
/*font-family: 'Paytone One', sans-serif;*/
/*font-family: 'Wendy One', sans-serif;*/
/*font-family: 'Coda Caption', sans-serif;*/
/*font-family: 'Source Code Pro', ;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway Dots', cursive;*/
/*font-family: 'Comfortaa', cursive;*/