
html, body { height: 100%; }

body
{
  /*background: url(http://s1.cdn.ryanboylett.co.uk/images/wallpapers/009.jpg);*/
  /*background-size: 100% 100%;*/
}

.widget
{
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

#developerWidget.widget {
  background: rgba(0,0,0,.6);
}


.widget > .cover
{
  height: 160px;
  overflow: hidden;
}

.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}



.widget > .photo
{
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -50px;
  border: 2px solid #FFF;
  border-radius: 50%;
}

img.photo {
  width: 100%;
  height: auto;
}
#companyWidget.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

#companyWidget.widget > .photo {
  background: white;
  position: absolute;
  top: 100px;
  margin: 0 0 0 -60px;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 3px #333;
  border: none;
}

#logoContainer {
  width: 120px;
  height: 120px;
}


.widget > h1, .widget > h2, .widget > h3
{
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

#developerWidget.widget > h1, #developerWidget.widget > h2, #developerWidget.widget > h3
{
  color: rgba(255,255,255,1);
}

.widget > h1
{
  margin: 50px 0 0px;
  font-size: 30px;
  color: #3c3c3c;
  font-family: 'raleway dots', cursive;
}

.widget > h3 { font-size: 12px }

.widget > ul
{
  position: absolute;
  top: 20px;
  left: 100%;
  background: #2CDFD3;
  background: rgba(0,0,0,1);
  border-radius: 0 3px 3px 0;
  z-index: -5;
}

.widget > ul > li > a
{
  display: block;
  padding: 5px 6px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2CD5CA;
  transition: background-color .3s;
}

.widget > ul > li:hover > a { background-color: #2CD5CA }
.widget > ul > li:first-child > a { border-radius: 0 3px 0 0 }
.widget > ul > li:last-child > a
{
  border: none;
  border-radius: 0 0 3px 0;
}


/* ADDITIONAL STYLES */
.profileName {
  padding-top: 0;
}
#profileContainer { margin-top: 0px; color: rgba(0,0,0,.6); }
#box1 { padding: 0; margin-bottom: 5px; }
#box2 { background: white; padding: 10px; margin-bottom: 5px; }
#box2 a { }
div#box3 { }
#box3 { background: white; padding: 25px 0; overflow: hidden; }
#box3 a { font-size: 9px; color: rgba(0,0,0,.6); font-family: 'Open Sans', sans-serif; }
#box3 a:hover { color: rgba(0,0,0,1); }
p.profileDescription { padding: 20px 10px 40px 10px; width: 80%; margin: 0 auto; }
#boxesContainer { padding: 0; }

span.callProfile {border-radius: 0 0 0 4px; z-index: 10000; position: absolute; bottom: 0; right: 80%; width: 20%; height: 35px; font-size: 24px; }
span.emailProfile {border-radius: 0; z-index: 10000; position: absolute; bottom: 0; right: 60%; width: 20%; height: 35px; font-size: 24px; }
span.githubProfile {border-radius: 0; z-index: 10000; position: absolute; bottom: 0; right: 40%; width: 20%; height: 35px; font-size: 24px; }
span.mapProfile {border-radius: 0; z-index: 10000; position: absolute; bottom: 0; right: 20%;  width: 20%; height: 35px; font-size: 24px; }
span.saveProfile {border-radius: 0 0 4px 0; z-index: 10000; position: absolute; bottom: 0; right: 0; width: 20%; height: 35px; font-size: 24px; }

#developerProject {}
#companyProject {}
#companyProject p {
  padding: 10px 40px 0 40px;
}

div.widget > .companyScreenshot:hover {
  display: none;
}

img.computerRocket {
    width: 100%;
    height: 100%;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
