<div class="row">

    <div class="jumbotron">
        <h1>Add Company Project</h1>
    </div>

    <!-- Add Student Form to POST -->
    <form role="form" ng-submit="addDeveloperProject()" class="restform">

        <div class="form-group">
            <label>Project Name</label>
            <input type="text" placeholder="Project name" ng-model="user.project_name" class="form-control">
        </div>

        <div class="form-group">
            <label>Upload Screentshot</label>
            <input type="text" placeholder="" ng-model="user.project_screenshot" class="form-control">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="user.description" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label>Completed</label>
            <input type="text" placeholder="Completed? True or False" ng-model="user.completed" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Project  <span class="glyphicon glyphicon-check"></span></button>
    </form>

</div>

