<div class="row">

    <div class="jumbotron">
        <h1>Add Developer Project</h1>
    </div>

    <!-- Add Student Form to POST -->
    <form role="form" ng-submit="addDeveloperProject()" class="restform form-inline">

        <div class="form-group">
            <label>Project name</label>
            <input placeholder="Project name" ng-model="user.project_name" class="form-control">
        </div>

        <div class="form-group">
            <label>Upload Screenshot</label>
            <input placeholder="" ng-model="user.project_screenshot" class="form-control">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input placeholder="Description..." ng-model="user.description" class="form-control">
        </div>

        <div class="form-group">
            <label>Completed</label>
            <input placeholder="Completed? True or False" ng-model="user.completed" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Project</button>
    </form>

</div>

