<div class="row">

    <div class="jumbotron">
        <h1>Add Developer Project</h1>
    </div>

    <!-- Add Student Form to POST -->
    <form role="form" ng-submit="addDeveloperProject()" class="restform">

        <div class="form-group has-success has-feedback">
            <label>Project name</label>
            <input type="text" placeholder="Project name" ng-model="user.project_name" class="form-control">
        </div>

        <div class="form-group has-success has-feedback"">
            <label>Description</label>
            <textarea class="form-control" ng-model="user.description" rows="4"></textarea>
        </div>

        <select multiple class="form-control has-success has-feedback">
            <option>Javascript</option>
            <option>Python</option>
            <option>Django</option>
            <option>Angular</option>
            <option>CSS</option>
        </select>

        <div class="form-group has-success has-feedback"">
            <label>Upload Screenshot</label>
            <input type="url" ng-model="user.project_screenshot" class="form-control">
            <button type="submit" class="btn btn-default">Upload</button>
        </div>

        <div class="form-group has-success has-feedback"">
            <label>Completed</label>
            <input type="text" placeholder="Completed? True or False" ng-model="user.completed" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Project  <span class="glyphicon glyphicon-check"></span></button>
    </form>

</div>

