<div class="scrollable">


    <form class="form-wrapper cf searchbox">
        <!--<input type="text" placeholder="Company name..." ng-model="name" label="Search Companies" class="searchbox"bs-input>-->
        <input type="text" placeholder="Company name" ng-model="name" >
        <button type="submit">Search</button>
    </form>


    <div class="scrollable-content">

        <div ng-repeat="company in companies | filter:name" class="company">

            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <h1 class="companyName">{{ company.name }}</h1>
                            <div class="imagewrap"><img ng-src="{{ company.screenshot }}"></div>
                            <h2 class="address"><span class="fa fa-map-marker"></span> {{ company.city }}, {{ company.state }}</h2>
                            <ul class="list-group col-xs-12 imageoverlay">
                                <!--<li><p>{{ company.description }}</p></li>-->
                                <!--<li><p>{{ company.posted }}</p></li>-->
                                <!--{{ company.cover }}-->
                                <!--{{ company.language }}-->
                                <!--{{ company.completed }}-->
                                <li><a href="{{ company.github }}" class="gitlink"><span class="fa fa-github"></span> github</a></li>
                                <li><a href="{{ company.website }}" class="website"><span class="fa fa-linkedin"></span> linkedin</a></li>
                                <li><a href="mailto:{{ company.email }}" class="email"><span class="fa fa-envelope-o"></span> email</a></li>
                                <li><a href="tel:+1{{ company.phone }}" class="phone"><span class="fa fa-mobile-phone"></span> call</a></li>
                            </ul>

                            <div class="toggleable-dropdown" active-class="open" id="myDropdown" toggleable>
                                <!--<h1 class="portfolioTitle col-xs-12"><span class="glyphicon glyphicon-picture"></span>{{ company.name }} Projects</h1>-->
                                <button type="button" value="{{ company.name }} Projects" class="btn btn-default btn-block dropdown-toggle" toggle target="myDropdown">
                                    <p class="dropdownTitle">{{ company.name }} Projects <i class="fa fa-chevron-down"></i></p>
                                </button>

                                <div ng-repeat="project in company.projects" class="dropdown-menu" role="menu" toggle="off" bubble target="myDropdown">
                                    <h1>Project #1</h1>
                                    <h1>{{ project.project_name }}</h1>
                                    <p>{{ project.description }}</p>
                                    <button class="btn btn-danger" role="button"><p><i class="glyphicon glyphicon-star"></i> Favorite</p></button>
                                    <button class="btn btn-danger" role="button"><p>More <i class="glyphicon glyphicon-share-alt"></i></p></button>
                                </div>

                                <div ng-repeat="project in company.projects" class="dropdown-menu" role="menu" toggle="off" bubble target="myDropdown">
                                    <h1>Project #1</h1>
                                    <h1>{{ project.project_name }}</h1>
                                    <p>{{ project.description }}</p>
                                    <button class="btn btn-danger" role="button"><p><i class="glyphicon glyphicon-star"></i> Favorite</p></button>
                                    <button class="btn btn-danger" role="button"><p>More <i class="glyphicon glyphicon-share-alt"></i></p></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      <!-- PROJECT CONTAINER -->
            <!--<div ng-repeat="project in company.projects" class="container">
                <div class="row">
                    <div class="btn-group pull-right toggleable-dropdown" active-class="open" id="myDropdown" toggleable>
                        <h1 class="portfolioTitle col-xs-12"><span class="glyphicon glyphicon-picture"></span> Projects</h1>
                        <button type="button" class="btn btn-default dropdown-toggle" toggle target="myDropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" role="menu" toggle="off" bubble target="myDropdown">
                              <div class="caption">
                                  <h3>Project #1</h3>
                                  <h3>{{ project.project_name }}</h3>
                                  <p>{{ project.description }}</p>
                                  <a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a>
                                  <a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- PROJECT CONTAINER -->

<!--<div class="row">
                    <div id="carousel-example" class="carousel">
                        <div class="carousel-inner" ng-swipe-left="carouselPrev('carousel-example')" ng-swipe-right="carouselNext('carousel-example')">

                            <div href="" class="item active">
                                <div class="carousel-example-content">
                                   <div class="thumbnail">
                                        <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                        <div class="caption">
                                            <h1>Project #1</h1>
                                            <h3>{{ project.project_name }}</h3>
                                            <p>{{ project.description }}</p>
                                            <a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a>
                                            <a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div href="" class="item">
                                <div class="carousel-example-content">
                                    <div class="thumbnail">
                                        <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                        <div class="caption">
                                            <h1>Project #2</h1>
                                            <h3>{{ project.project_name }}</h3>
                                            <p>{{ project.description }}</p>
                                            <button class="btn btn-success" role="button"><a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a></button>
                                            <button class="btn btn-primary" role="button"><a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div href="" class="item">
                                <div class="carousel-example-content">
                                   <div class="thumbnail">
                                        <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                        <div class="caption">
                                            <h1>Project #3</h1>
                                            <h3>{{ project.project_name }}</h3>
                                            <p>{{ project.description }}</p>
                                            <button class="btn btn-success" role="button"><a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a></button>
                                            <button class="btn btn-primary" role="button"><a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="thumbnail">
                                <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                <div class="caption">
                                    <h3>{{ project.project_name }}</h3>
                                    <p>{{ project.description }}</p>
                                    <button class="btn btn-success" role="button"><a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a></button>
                                    <button class="btn btn-primary" role="button"><a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xs-12">
                        <div class="row">
                            <div class="thumbnail">
                                <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                <div class="caption">
                                    <h3>{{ project.project_name }}</h3>
                                    <p>{{ project.description }}</p>
                                    <button class="btn btn-success" role="button"><a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a></button>
                                    <button class="btn btn-primary" role="button"><a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xs-12">
                        <div class="row">
                            <div class="thumbnail">
                                <div class="imagewrap"><img ng-src="{{ company.cover }}"></div>
                                <div class="caption">
                                    <h3>{{ project.project_name }}</h3>
                                    <p>{{ project.description }}</p>
                                    <button class="btn btn-success" role="button"><a href="#" ><i class="glyphicon glyphicon-star"></i> Favorite</a></button>
                                    <button class="btn btn-primary" role="button"><a href="#" >More <i class="glyphicon glyphicon-share-alt"></i></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>-->