<div class="scrollable">

    <form class="form-wrapper cf" id="searchbox">
        <!--<input type="text" placeholder="Company name..." ng-model="name" label="Search Companies" class="searchbox"bs-input>-->
        <input type="text" placeholder="Company name" ng-model="name" >
        <button type="submit">Search</button>
    </form>

    <div class="scrollable-content" id="companybody">
        <div class="backgroundoverlay"></div>

        <div ng-repeat="company in companies | filter:name" class="company">

            <!-- COMPANY INFO -->
            <div class="companyInfo">
                <h1 class="companyName">{{ company.name }}</h1>
                <h2 class="address">{{ company.city }}, {{ company.state }}</h2>
                <p class="description">{{ company.description }}</p>
                <a href="mailto:{{ company.email }}"><i class="fa fa-envelope"></i></a>
            </div>

            <!-- COMPANY SCREENSHOT IMAGE -->
            <div class="imagewrap">
                <img ng-src="{{ company.screenshot }}" >
            </div>

            <!-- COMPANY PORTFOLIO -->
            <div class="teal-panel portfolio glass">
                <div class="portfolioWrap">
                    <div class="githublogo">
                        <a href="{{ company.github }}">
                            <img src="static/images/github120.png">
                        </a>
                    </div>
                 <h1 class="portfolioTitle">Our Portfolio</h1>
                 <!--<img ng-src="{{ company.cover }}" class="img-responsive img-cover">-->


                <!-- COMPANY PROJECTS -->
                <div ng-repeat="project in company.projects" class="project">

                    <!-- PROJECT NAME -->
                    <h1 class="projectName">{{ project.name }}</h1>

                    <!-- SCREENSHOT IMAGE -->
                    <div class="imagethumb">
                        <img ng-src="{{ project.project_screenshot }}">
                    </div>

                    <!--<p>Company Id: {{ project.id }}</p>-->

                    <!-- DATE POSTED -->
                    <!--<p>Date Posted: {{ project.created }}</p>-->

                    <!-- PROJECT SUMMARY -->
                    <h2 class="projectSummary">Project Summary</h2>
                    <p class="description">{{ project.description }}</p>

                    <!-- COMPLETION STATUS -->
                    <!--<p>{{ project.completed }}</p>-->

                    <!-- RESOURCE URI -->
                    <!--<a href="{{ project.resource_uri }}">Project Resource Link</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
