<div class="row">
    <div class="col-xs-3"></div>
        <div class="jumbotron col-xs-6">
            <p>Contact Us</p>
        </div>
        <div class="col-xs-3"></div>
</div>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="teal-panel cushion col-xs-6">
         <a href="mailto:northdacoder@gmail.com" class="btn btn-danger btn-block"><i class="fa fa-envelope"></i> Email Me</a>
         <br>
         <a href="tel:+18015187972" class="btn btn-danger btn-block"><i class="fa fa-phone"></i> Call Me</a>
    </div>
    <div class="col-xs-3"></div>
</div>
