<div class="row">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <h1>Navbar</h1>
        </div>
    </nav>

    <div class="teal-panel boxie stackone cushion">
        <div class="col-xs-1 col-sm-4"></div>
        <div class="col-xs-10 col-sm-4">
            <a href="mailto:northdacoder@gmail.com" class="danger"><i class="fa fa-envelope"></i> Email Me</a>
            <br>
            <a href="tel:+18015187972"><i class="fa fa-phone"></i> Call Me</a>
        </div>
        <div class="col-xs-1 col-sm-4"></div>
    </div>


</div>