<div class="container">

    <div class="jumbotron">
        <h1>Developer Portal</h1>
    </div>

    <div class="col-xs-0 col-md-2"></div>
    <div ng-repeat="developer in developers" class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4"><img src="http://placehold.it/250x250" class="img-circle"></div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="btn btn-primary btn-large">Name: {{ developer.name }}</div>
            <div class="btn btn-primary btn-large">City: {{ developer.city }}</div>
            <div class="btn btn-primary btn-large">State: {{ developer.state }}</div>
            <div class="btn btn-primary btn-large">Email: {{ developer.email }}</div>
            <div class="btn btn-primary btn-large">Age: {{ developer.age }}</div>
            <div class="btn btn-primary btn-large">Created: {{ developer.posted }}</div>
            <div class="btn btn-primary btn-large">Languages: {{ developer.languages }}</div>
            <div class="btn btn-primary btn-large">Description: {{ developer.description }}</div>
            <div class="btn btn-primary btn-large"><a href="{{ developer.github }}"><img src="{% static "images/github120.png" %}" /></a></div>
            <img ng-src="{{ developer.cover }}">
            <img ng-src="{{ developer.screenshot }}">
        </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>

</div>
