<div class="scrollable">

    <form class="form-wrapper cf" id="searchbox">
        <!--<input type="text" placeholder="Company name..." ng-model="name" label="Search Companies" class="searchbox"bs-input>-->
        <input type="text" placeholder="Company name" ng-model="name" >
        <button type="submit">Search</button>
    </form>

    <div class="scrollable-content col-xs-12 col-md-6" id="developerbody">

         <div ng-repeat="developer in developers | filter:name" class="developer">

                <!-- DEVELOPER SCREENSHOT IMAGE -->
                <img ng-src="{{ developer.screenshot }}" class="img-responsive img-screenshot">

                <!-- DEVELOPER INFO -->
                <div class="developerInfo inset">
                    <h1 class="developerName">{{ developer.name }}</h1>
                    <h2 class="address">{{ developer.city }}, {{ developer.state }}</h2>

                    <!-- DEVELOPER DESCRIPTION -->
                    <p class="description">{{ developer.description }}</p>
                </div>

                <!-- DEVELOPER PORTFOLIO -->
                <div class="slate-panel portfolio glass">
                    <h1 class="portfolioName">Our Portfolio</h1>

                    <!--<div><a href="mailto:{{ developer.email }}"><i class="fa fa-envelope"></i></a></div>-->
                    <div class="githublogo">
                        <a href="{{ developer.github }}">
                            <img src="static/images/github120.png">
                        </a>
                    </div>
                    <!--<img ng-src="{{ developer.cover }}" class="img-responsive img-cover">-->

                    <!-- DEVELOPER PROJECTS -->
                    <div ng-repeat="project in developer.projects" class="project">

                        <!-- PROJECT NAME -->
                        <h1 class="projectName">{{ project.name }}</h1>

                        <!-- SCREENSHOT IMAGE -->
                        <div class="row">
                            <div class="col-md-6">
                                 <img ng-src="{{ project.project_screenshot }}" class="img-responsive img-project">
                            </div>
                        </div>

                        <!--<p>Developer Id: {{ project.id }}</p>-->

                        <!-- DATE POSTED -->
                        <!--<p>Date Posted: {{ project.created }}</p>-->

                        <!-- PROJECT SUMMARY -->
                        <h2 class="projectSummary">Project Summary</h2>
                        <p class="description">{{ project.description }}</p>

                        <!-- COMPLETION STATUS -->
                        <!--<p>{{ project.completed }}</p>-->

                        <!-- RESOURCE URI -->
                        <!--<a href="{{ project.resource_uri }}">Project Resource Link</a>-->
                    </div>
                </div>
            </div>
     </div>
</div>



