<div class="container">

    <div class="jumbotron">
        <h1>Developer Portal</h1>
    </div>

    <div ng-repeat="developer in developers" class="black-panel stackfive cushion">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <img src="http://placehold.it/250x250" class="img-circle">
            </div>
            <div class="col-xs-4"></div>
        </div>
        <span class="label label-success">Name: </span>{{ developer.name }}<br>
        <span class="label label-info">City: </span>{{ developer.city }}<br>
        <span class="label label-warning">Github: </span>{{ developer.cty }}<br>
    </div>

</div>
