<div>
    <button class="btn btn-large"><a href="#/">back</a></button>

    <div class="heading">Student Page</div>



    <div>Would you like to add a new student?</div>

    <!-- Add Student Form to POST -->
    <form ng-submit="addStudent();">
        <div>First name:</div>

        <input placeholder="John" ng-model="user.first_name">

        <div>Last name:</div>

        <input placeholder="Ryan" ng-model="user.last_name">

        <div><button>Add Student</button></div>
    </form>

</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


<ul>
    <ul data-ng-repeat="project in student.projects" class="list-group">
        <li class="list-group-item list-group-item-info">Student name: {{ student.first_name }} {{ student.last_name }}</li>
        <li class="list-group-item list-group-item-danger">Project Number: {{ project.id }}</li>
        <li class="list-group-item list-group-item-default">Project Name: {{ project.name }}</li>
    </ul>
</ul>