<div class="scrollable" xmlns="http://www.w3.org/1999/html">

    <form class="form-wrapper cf searchbox">
        <input type="text" placeholder="Filter by..." ng-model="name" >
        <button type="submit">Search</button>
    </form>


    <div class="scrollable-content">


        <div ng-repeat="developer in developers | filter:name" >

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h1 class="companyName">{{ developer.name }}</h1>
                    <div class="img-container">
                        <img ng-src="{{ developer.screenshot }}">
                    </div>

                    <h2 class="address"><span class="fa fa-map-marker"></span> {{ developer.city }}, {{ developer.state }}</h2>

                    <div class="btn-group">
                    <button type="button" class="btn btn-success btn-lg btn-block"><a href="{{ developer.github }}"><i class="fa fa-github"></i> Github</a></button>
                    <button type="button" class="btn btn-success btn-lg btn-block"><a href="{{ developer.website }}"><i class="fa fa-linkedin-square"></i> LinkedIn</a><button
                    <button type="button" class="btn btn-success btn-lg btn-block"><a href="mailto:{{ developer.email }}"><i class="fa fa-envelope"></i> Email</a></button>
                    <button type="button" class="btn btn-success btn-lg btn-block"><a href="tel:+{{ developer.phone }}"><i class="fa fa-mobile-phone"></i> Call</a></button>
                    </div>

                    <!--{{ company.description }}-->
                    <!--{{ company.posted }}-->
                    <!--{{ company.language }}-->
                    <!--{{ company.completed }}-->
                    <div id="carousel-example" class="carousel"  ng-repeat="project in developer.projects">
                        <div class="carousel-inner" ng-swipe-left="carouselPrev('carousel-example')" ng-swipe-right="carouselNext('carousel-example')">

                            <div href="" class="item active" >
                                <div class="carousel-example-content">
                                    <div class="projectCard">
                                        <h3 class="projectName">{{ project.project_name }}</h3>
                                        <span class="label label-info">posted: {{ project.created }}</span>
                                        <p class="description">{{ project.description }}</p>

                                        <button type="button" class="btn btn-danger btn-block"><a href="#">Add to Projects <i class="fa fa-plus"></i></a></button>
                                        <button type="button" class="btn btn-success btn-block"><a href="mailto:{{ developer.email }}">Request Info</a></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
