<div class="jumbotron" id="jumbo1">
     <div class="container">
            <div class="col-xs-12">
                <h1 class="jumbo-logo"><i class="fa fa-rocket"></i> rocketlaunchit</h1><br>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-danger btn-lg" role="button"><a href="">Sign up <i class="fa fa-sign-in"></i></a></button>
                    <button class="btn btn-danger btn-lg" role="button"><a href="">Log in <i class="fa fa-sign-in"></i></a></button>
                </div>
            </div>
     </div>
</div>

<div class="jumbotron" id="jumbo2">


</div>