<!-- Main Index View -->
<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<div>
    <ul>
        <li><a href="#/student">Student View</a></li>
        <li><a href="#/class">Class View</a></li>
        <li><a href="#/addStudent">Add Student View</a></li>
        <li><a href="#/deleteStudent">Delete Student View</a></li>
        <li><a href="#/developer">Developer View</a></li>
        <li><a href="#/company">Company View</a></li>
        <li><a href="#/add_developer">Add Developer View</a></li>
        <li><a href="#/delete_developer">Delete Developer View</a></li>
    </ul>
</div>


    <!--<div data-ng-repeat="class in classes">
        <a href="#/class/ {{ class.id }}">
            View {{ class.title }}'s Page
        </a>
    </div>-->