<div class="container">
       <div class="row">
            <div class="col-sm-6 col-sm-offset-3" id="profileContainer">
                <div class="row">
                    <div class="col-md-8" id="boxesContainer">
                        <div class="col-md-12" id="box1">
                            <img src="{{ profile.screenshot }}" />
                        </div>
                        <div class="col-md-12" id="box2">

                            <h1 class="profileName">John Ryan</h1>
                            <h3><i class="fa fa-map-marker"></i> Palo Alto, CA</h3>
                            <p class="profileDescription">Creative, energetic, & passionate programmer with an eye for UX & design.</p>
                            <!--<p>Age: 28</p>-->
                        </div>
                    </div>

                    <div class="col-md-4" id="box3">
                        <a href="mailto:northdacoder@gmail.com" class="btn btn-block"><i class="fa fa-envelope"></i> northdacoder@gmail.com</a>
                        <a href="tel:+16503089792" class="btn btn-block"><i class="fa fa-mobile-phone"></i> 650.308.9792</a>
                        <a href="http://www.github.com/northdacoder" class="btn btn-block"><i class="fa fa-github"></i> Github</a>
                        <a href="http://www.rocketlaunchit.com" class="btn btn-block"><i class="fa fa-rocket" ></i> My Projects</a>
                        <a href="#" class="btn btn-block">Member since: November 2013</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>