{% load static %}

<!doctype html>
<html>
	<head>

        <title>MVPrototype</title>

        <!-- Mobile Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS Files -->
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/jumbotron.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/signin.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/sticky-footer.css">

        <!-- Bootstrap JavaScript Files -->
        <script src="{% get_static_prefix %}js/bootstrap.js"></script>

        <!-- Angular Files -->
        <script src="{% get_static_prefix %}vendor/angular.js"></script>
        <script src="{% get_static_prefix %}vendor/angular-route.js"></script>
        <script src="{% get_static_prefix %}vendor/angular-resource.js"></script>

        <!-- JavaScript Files -->
        <script src="{% get_static_prefix %}js/app.js"></script>
        <script src="{% get_static_prefix %}js/factory.js"></script>

        <!-- Controllers -->
        <script src="{% get_static_prefix %}js/controllers/indexController.js"></script>
        <script src="{% get_static_prefix %}js/controllers/developerController.js"></script>
        <script src="{% get_static_prefix %}js/controllers/companyController.js"></script>

        <!-- CSS FILES -->
        <link href="{% get_static_prefix %}css/main.css" rel="stylesheet" type="text/css">

	</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"></a>
                <a class="navbar-brand" href="#/developer">Developer</a>
                <a class="navbar-brand" href="#/company">Company</a>
                <a class="navbar-brand" href="/login">Login</a>
{#                <a class="navbar-brand" href="#/">Find a project</a>#}
                <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-dashboard"></span> Home</a>
            </div>
        </div>
    </nav>

    <div ng-app="mvpApp">
        <div ng-view class="row">

        </div>
    </div>


</body>
</html>
