{% load i18n %}
{% load static %}

<html lang="en">

<head>
    <title>MVPrototype</title>

    <!-- Mobile Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Mobile icons for different resolutions
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png"> -->

    <!-- Startup splash screen for web app -->
    <link rel="apple-touch-startup-image" href="/startup.png">

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/jumbotron.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/navbar_fixed.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/signin.css">


    <!-- Bootstrap JavaScript Files -->

    <!-- Angular Javascript Files -->
    <script src="{% get_static_prefix %}vendor/angular.js"></script>
    <script src="{% get_static_prefix %}vendor/angular-route.js"></script>
    <script src="{% get_static_prefix %}vendor/angular-resource.js"></script>
    <script src="{% get_static_prefix %}js/ui-bootstrap-tpls-0.10.0.min.js"></script>

    <!-- Angular App -->
    <script src="{% get_static_prefix %}js/app.js"></script>

    <!-- Controllers -->
    <script src="{% get_static_prefix %}js/controllers/developerController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/developerProjectController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/companyController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/companyProjectController.js"></script>

    <!-- CSS FILES -->

    <link href="{% get_static_prefix %}css/index.css" rel="stylesheet" type="text/css">


</head>

<body>
<div class="container">
   {% block header %}
   {% if user.is_authenticated %}

        <!-- Fixed navbar -->
        <div class="row">
        <div class="navbar navbar-default navbar-fixed-top navcushion" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">mvprototype</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">{{ user.username }}</li>
                                <li><a href="{% url 'auth_password_change' %}"><p class="loginText">{% trans "Change password" %}</p></a></li>
                                <li><a href="{% url 'auth_logout' %}?next=/accounts/login">Log out</a></li>
                            </ul>
                        </li>
                        <li><a href="#/developers">Developers</a></li>
                        <li><a href="#/companies">Companies</a></li>
                        <li><a href="#/contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
        </div>
        </div>

        {% else %}
        <div class="row">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">mvprototype</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="#/developers">Developers</a></li>
                        <li><a href="#/companies">Companies</a></li>
                        <li><a href="#/contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
        </div>
        </div>

        {% endif %}
        {% endblock %}

        <div class="row">
        {% block content %}

        {% endblock %}
        </div>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% get_static_prefix %}js/bootstrap.js"></script>
</body>
</html>