{% load staticfiles %}
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
    <script type="text/javascript" src="{% static "jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>
</head>


<body>
<div class="navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-middle">

                <li><a href="{% url 'auth_login' %}?next=/charities/home">{% trans "Log in as a Developer" %}</a></li>
                <li><a href="{% url 'auth_login' %}?next=/givers">{% trans "Log in as a Company" %}</a></li>
                <li><a href="{% url 'auth_login' %}?next=/givers/new/">{% trans "Log in as a User" %}</a></li>
                <li><a href="{% url 'registration_register' %}">{% trans "Sign Up Here!" %}</a></li>

                <li><a href="#">About Us</a></li>

                <ul id="status">
                    {% if user.is_authenticated %}
                        <li id="loggedin">Logged in as: {{ user.username }}</li>
                        <li>(<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                        <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)</li>
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>


</div>


<div class="col-lg-12">
    {% block content %}




    {% endblock %}
</div>



<div id="footer">
    {% block footer %}

    {% endblock %}
</div>


</body>

</html>