{% load i18n %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>MVPrototype</title>

    <!-- Mobile Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/jumbotron.css">
    <!--<link rel="stylesheet" href="{% get_static_prefix %}css/sticky-footer.css">-->
    <link rel="stylesheet" href="{% get_static_prefix %}css/navbar_fixed.css">

    <!-- Bootstrap JavaScript Files -->
    <script src="{% get_static_prefix %}js/bootstrap.js"></script>

    <!-- Angular Files -->
    <script src="{% get_static_prefix %}vendor/angular.js"></script>
    <script src="{% get_static_prefix %}vendor/angular-route.js"></script>
    <script src="{% get_static_prefix %}vendor/angular-resource.js"></script>

    <!-- JavaScript Files -->
    <script src="{% get_static_prefix %}js/app.js"></script>
    <script src="{% get_static_prefix %}js/factory.js"></script>

    <!-- Controllers -->
    <script src="{% get_static_prefix %}js/controllers/indexController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/developerController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/companyController.js"></script>

    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/signin.css">

    <link href="{% get_static_prefix %}css/index.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            {% block header %}
                {% if user.is_authenticated %}

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">mvPrototype</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>

                        <!-- USERNAME DROPDOWN -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-header">
                                <li><a href="{% url 'auth_logout' %}">Log out</a></li>
                            </ul>
                        </li>
                        <!-- USERNAME DROPDOWN -->

                        <li><a href="#/developer">Developer</a></li>
                        <li><a href="#/company">Company</a></li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Join our team!</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </ul>
                 </div>





            <!-- Change Password Button -->
            <a href="{% url 'auth_password_change' %}"><p class="loginText">{% trans "Change password" %}</p></a>

            {% else %}
                <!-- Log In Button -->
                <a href="{% url 'auth_login' %}"><p class="loginText" id="loginTextMain">{% trans "Log in" %}</p></a>
            {% endif %}


        {% endblock %}
    </div>
    </div>


    <div id="content" class="container">
        {% block content %}

        {% endblock %}
    </div>


</div>
</body>
</html>